<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807965102763-q8k9e4angmrikoffftgi3043aloe6u1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807965102763-q8k9e4angmrikoffftgi3043aloe6u1u</string>
	<key>API_KEY</key>
	<string>AIzaSyAYbUawWh7FssUFnw_aFCzBevAjojT7bWU</string>
	<key>GCM_SENDER_ID</key>
	<string>807965102763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quotes.wordsofwisdom</string>
	<key>PROJECT_ID</key>
	<string>wordsofwisdom-quote</string>
	<key>STORAGE_BUCKET</key>
	<string>wordsofwisdom-quote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807965102763:ios:7d77d4d9ea3b9bfe09ddee</string>
	<key>DATABASE_URL</key>
	<string>https://wordsofwisdom-quote.firebaseio.com</string>
</dict>
</plist>